/*Body of document*/
body {
  height:100%;
  width: 100%;
  background-color:tan;
  margin-left: 50%;
  margin-top: 2%;

}

/* Indonesia */
#indonesia {
background-color:white;
height: 120px;
width: 200px;
margin-bottom: 30px;
}

#inside-indonesia {
background-color: red;
height: 60px;
width: 200px;

}

/* Columbia */
#last-div-columbia {
height: 50px;
width: 300px;
background-color: blue;
}
#middle-div-columbia {

height: 100px;
width: 300px;
background-color: yellow;
}
#columbia {
height: 200px;
width: 300px;
background-color: red;

}

/* Ireland */
#ireland {
margin-top:3%;
background-color:mediumseagreen;
height: 200px;
width: 400px;
display: flex;
}
#ireland-white-div {
background-color: white;
height: 200px;
width:100%;
margin-left: 130px;
}
#ireland-orange-div{
background-color: rgb(255, 130, 67);  /*mango tango is color name*/
height: 200px;
width:100%;
}

/* France */
#france {
  margin-top: 3%;
  display: inline-block;
  font-size: 0;
  height: 200px;
  width: 200px;
  background-color:darkblue;

}
#france-middle-div{
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: white;
  margin-left: 105px;

}
#red-france {
  display: inline-block;
  height: 200px;
  width: 102px;
  background-color: red;
  margin-left:110px;
}

/* Benin */
#benin {
  margin-top: 3%;
  background-color: mediumseagreen;
  height: 200px;
  width: 330px;
}

#containerDivB {
  background-color: #E8112D;
  height: 200px;
  width: 200px;
  float:right;
}


#benin-div {
background-color: yellow;
height: 100px;
width:200px;
}

/* Sweden */
#sweden {
position: relative;
margin-top: 3%;
background-color: steelblue;
height: 200px;
width: 350px;
}

#sweden-container-1 {
width:350px;
height: 45px;
background-color: yellow;
position: absolute;
top: 85px;
}

#sweden-container-2 {
left: 90px;
width:45px;
height: 200px;
background-color: yellow;
position: absolute;
}

/* Switzerland */
#switzerland {
margin-top: 3%;
background-color: red;
width: 250px;
height: 250px;
position: relative;
}

#switzerland-container {
top:105px;
background-color: red;
width: 100px;
height: 100px;
position: absolute;
}

#switzerland-1 {
  left: 50px;
  position: absolute;
  background-color: white;
  height: 40px;
  width: 150px;
}

#switzerland-2 {
  position: absolute;
  background-color: white;
  height: 140px;
  width: 40px;
  left: 105px;
  bottom: 5px;
}

/* Tonga */
#tonga {
  margin-top: 3%;
  background-color:darkred;
  height: 250px;
  width: 500px;
  position:relative;
}

#tonga-white-div {
position: relative;
background-color: white;
height: 150px;
width: 200px;
}

#tonga-red-div-1 {
  background-color: darkred;
  height:90px;
  width: 30px;
  position: absolute;
  left: 80px;
  bottom: 33px;
}

#tonga-red-div-2 {
  background-color: darkred;
  height:30px;
  width: 110px;
  bottom: 65px;
  left: 40px;
  position: absolute;

}
/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
